<footer
  class="absolute bottom-0 w-screen p-8 flex justify-between items-center z-10"
>
  <p>Scroll Down</p>
  <div class="flex items-center gap-2 opacity-75">
    <div id="slider-counter">
      <p>1</p>
    </div>
    <p>/</p>
    <p>5</p>
  </div>
</footer>
