@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import 'tailwindcss';

@theme {
  /* FONT */
  --font-sans: 'DM Sans', sans-serif;

  /* COLOR */
  --color-primary: oklch(27.81% 0.0296 256.85);
  --color-primary-foreground: oklch(79.75% 0.0951 268.35);
  --color-muted-foreground: oklch(67.06% 0.0345 268.35);
}

/* HERO */
.card .char span {
  @apply relative inline-block translate-y-full will-change-transform;
}

.intro-title .char,
.outro-title .char,
.card .char {
  @apply relative inline-block overflow-hidden;
}

.intro-title .char,
.outro-title .char {
  @apply mt-3;
}

.intro-title .char span,
.outro-title .char span,
.tag .word {
  transform: translateY(-100%);
  @apply relative inline-block will-change-transform;
}

.intro-title .first-char {
  @apply origin-top-left;
}

@media (max-width: 1000px) {
  .intro-title .char,
  .outro-title .char {
    @apply mt-2;
  }
}

/* MENU */
.line {
  position: relative;
  will-change: transform;
}

/* SLIDER */
.slide {
  @apply absolute inset-0 size-full;
}

.slide-main-img-wrapper img {
  @apply absolute z-0 size-full object-cover will-change-transform;
}

.slide-main-img-wrapper .overlay {
  @apply bg-primary absolute z-20 size-full object-cover opacity-20 blur-2xl brightness-75;
}

.card {
  @apply bg-primary-foreground text-primary absolute top-1/2 left-1/2 z-50 flex h-[65%] w-[75%] -translate-x-1/2 -translate-y-1/2 flex-col items-center justify-center p-3 md:w-[30%];
}

.card .card-bg-img {
  @apply relative size-full flex-1 overflow-hidden;
}

.card .card-bg-img img {
  @apply absolute inset-0 size-full object-cover will-change-transform;
}
